
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:health:
    HealthStreamingEnabled: true
    DeleteOnTerminate: true
    RetentionInDays: 30

files:
  "/etc/awslogs/config/customlogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [snakes.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "usr/share/tomcat8/webapps/ROOT/log/snakes.log"]]}`
      log_stream_name = {instance_id}
      file = /usr/share/tomcat8/webapps/ROOT/log/snakes.log
 
commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
